@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&family=Poppins&family=Lancelot&display=swap');
/* font-family: 'Lato', sans-serif; font-family: 'Poppins', sans-serif; font-family: 'Great Vibes', cursive;*/
body{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

/* Header */
nav{
  background-color: black; 
}
nav ul{
  margin-right: 100px;
}

.navbar-brand{
  font-family: 'Great Vibes', cursive;
  font-size: 50px;  
  margin-left: 100px;
}
.nav-link{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
}
.nav-link:hover{
  color: #fff;
}
.menuActive{
  border-bottom: 1px solid #fff;
  color: #fff;
}


/* Home */
.home-container{
  background-image: url('./images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100vw;
  scroll-behavior: smooth;
}
.title{
  margin: 300px 0;
  text-align: center;
}
.title h4{
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
}
.title h1{
  color: white;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.homeCategories{
  margin: 0 6rem;
}

.category{
  margin: 100px 0;
  column-gap: 1rem;
  row-gap: 1rem;
}
.category a{
  background-color: #fff;
  padding: 10px 50px;
  color: black;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
.category a:hover{
  color: #000;
  text-decoration: none;
}

.category .col-md{
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px 0;
}

.breakfast{ background-image: url('./images/breakfast.jpg'); background-position: center;}
.lunch{ background-image: url('./images/lunch.jpg'); background-position: center;}
.cakes{ background-image: url('./images/cake.jpg'); background-position: center;}
.snacks{ background-image: url('./images/samosa.jpg'); background-position: center;}
.mainCourse{ background-image: url('./images/mainCourse.jpg'); background-position: center;}
.desserts{ background-image: url('./images/rabdi.jpg'); background-position: center;}
.beverages{ background-image: url('./images/chai.jpg'); background-position: center;}



#login{
  width:50%;
}

/* REGISTER */
#register{
  width:50%;
}



@media only screen and (max-width: 600px) {
  .navbar-brand{ font-size: 80px; margin: 0;}
  .home-container{ background-size: 100rem; }
  .title{margin: 200px 0;}
  .home-container h4{ font-size: 30px; }
  .home-container h1{ font-size: 50px; }
  .recipe{ padding: 0 1rem;}
  .recipeContainer h1{ font-size: 14px;}
  .recipe img{width: 100%;}
  .homeCategories{ margin: 0 1rem;}
  .suggestionCard h5{font-size: 0.5rem;}
 
}

@media only screen and (min-width: 600px) {
  
}




.footer{
  /* display: flex;
  justify-content: center;
  align-items: center;*/
  text-align: center; 
  font-family: 'Poppins', sans-serif;
  
}
.footerContainer{
  padding: 30px;
  background-color: #FAEDCD
}

.breakfastContainer{
  margin: 8rem 0;
}
.breakfastContainer h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.recipeCard{
  width: 22rem;
  margin: 2rem;
}
.recipeName{
  font-family: 'Lancelot', cursive;
  font-size: 1.5rem;
}
.recipeCuisine{
  font-family: 'Lato', sans-serif;
  color: gray;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.recipeImage img{
  object-fit: cover;
  width: 380px;
  height: 320px;  
}
.button{
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  border: 1px solid black;
  color: #000;
  padding: 5px 15px;
  margin-top: 0.5rem;
}
.button:hover{
  text-decoration: none;
  border: 3px solid black;
  color: #000;
}

/* Recipie main page */
.recipeContainer{
  margin: 8rem 0;
  font-family: 'Lato', sans-serif;
}
.recipeContainer h1{
  text-align: center;
  font-family: 'Lancelot', cursive;
  margin-bottom: 2rem;
  font-size: 4rem;
}
.recipeContainer img{
  width: 100%;
  margin-bottom: 2rem;
}
.recipieFeature{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.recipe span, .recipe p, .recipe li{
  font-size: 1.1rem;
}
.register{
  margin: 8rem 0;
  font-family: 'Poppins', sans-serif;
}
.likeContainer h3{
  font-family: 'Poppins', sans-serif;
  border: 2px solid salmon;
  padding: 0.5rem 2rem;
}
.suggestionCard{
  text-align: center;
  background-position: center;
  object-fit: contain;
  opacity: 0.7;
  background-repeat: no-repeat;
  width: 380px;
  height: 320px;
  padding: 4rem 0;
}
.suggestionCard:hover{
  opacity: 1;
}

.suggestionCard a:hover{
  border: 1px solid black;
  color: #fff;
  background-color: #000;
}
.suggestionCard h5{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: black;
}

.signUpBtn{
  color: #fff;
  background-color: #000;
}
.signUpBtn:hover{
  color: #000;
  background-color: #fff;
}
